<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<welcome-file-list>  
   		<welcome-file>WelcomePage.jsp</welcome-file>  
  	</welcome-file-list> 
  	<filter>
    	<filter-name>UrlRewriteFilter</filter-name>
    	<filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
	</filter>
	<filter-mapping>
    	<filter-name>UrlRewriteFilter</filter-name>
    	<url-pattern>/*</url-pattern>
	</filter-mapping>
    <servlet>
         <servlet-name>Action</servlet-name>
         <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
         <init-param>
			<param-name>config</param-name>
			<param-value>/WEB-INF/config.xml</param-value>
		</init-param>
    </servlet>
    <servlet-mapping>
         <servlet-name>Action</servlet-name>
         <url-pattern>/TestServ</url-pattern>
    </servlet-mapping>
</web-app>